{{define "html-base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {{template "styles-base" .}}
    <title>{{ .Title}}</title>
  </head>
  <body>
    <div class="center">
      {{block "content" .}}{{end}}
      <footer><i>Powered by <a target="_blank" rel="noopener noreferrer" href="https://golang.org/">Go</a></i><footer>
    </div>
  </body>
</html>
{{end}}
