{{template "html-base" .}} {{define "content"}}
<h1>Reset Password</h1>
<div id="error"></div>
<form action="/reset-password/" method="POST" id="password-reset-form">
  <div class="input-field">
    <input id="password" name="password" type="password" required>
    <span></span>
    <label for="email">Password</label>
  </div>
  <div class="input-field">
    <input id="verify-password" name="verify-password" type="password" required>
    <span></span>
    <label for="password">Verify Password</label>
  </div>
  <button type="submit">Submit</button>
</form>
{{end}}
